@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Montserrat;
    background-color: #FFF;
    color: #333;
    width: 20%;
    height: 33%;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 2.5em;
    margin: 5% 0;
}